<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Interface para Modelo Propietario</title>
	<script type="text/javascript" src="vue.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body class="container">
	<!-- INICIO DEL VUE -->
	<div id="miPagina">
	<div class="row">
		<div class="col-md-2">
			<input type="text" class="form-control" placeholder="nombre" v-model="nombre">
		</div>
		<div class="col-md-2">
			<input type="text" class="form-control" placeholder="Apellido Paterno" v-model="apellidop">
		</div>
		<div class="col-md-2">
			<input type="text" class="form-control" placeholder="Apellido Materno" v-model="apellidom">
		</div>
		<div class="col-md-2">
			<input type="text" class="form-control" placeholder="Genero" v-model="genero">
		</div>
	</div>
		<hr><hr>
		<div class="row">
			<div class="col-md-3">
				<button class="btn btn-outline-primary btn-sm" v-if="editando==0" @click="agregarPropietario()">
				Agregar
				</button>
				<button class="btn btn-outline-primary btn-sm" v-if="editando==1" @click="guardarEdicion()">
				Agregar
				</button>
			</div>
			<div class="col-md-3">
				<button class="btn btn-outline-primary btn-sm" @click="cancelar()">
				Cancelar
				</button>
			</div>

		</div>
		<!-- INICIAMOS A TRABAJAR CON UNA TABLA -->
		<table class="table table-bolderd">
			<thead>
				<th>INDICE</th>
				<th>NOMBRE</th>
				<th>APELLIDO PATERNO</th>
				<th>APELLIDO MATERNO</th>
				<th>GENERO</th>
				<th>BOTONES</th>
			</thead>
			<tbody>
				<!-- USAMOS V-FOR PARA RECORRER LOS DATOS DEL ARCHIVO JS -->
				<tr v-for="(propi,index) in propietarios">
					<td>{{index}}</td>
					<td>{{propi.nombre}}</td>
					<td>{{propi.apellidop}}</td>
					<td>{{propi.apellidom}}</td>
					<td>{{propi.genero}}</td>
					<td>
						<button class="btn btn-uotline-secundary btn-sm" @click="editarPropietario(index)">
							Modificar
						</button>
						<button class="btn btn-outline-danger btn-sm" @click="eliminarPropietario(index)">
							Eliminar
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- FIN DE VUE -->

	<!-- OBJETOS DE VUE -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
	<script type="text/javascript" src="propietario.js"></script>
	<script type="text/javascript" src="sweetalert2.all.min.js"></script>
</body>
</html>